/*==================
BASIC SETUP
=====================*/
*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    background-color: #f1f1f1;
}
/*==================
HEADER PART START
=====================*/
.header{
    text-align: center;
    padding: 30px;
    background-color: #fff;
}
/*==================
NAVIGATION PART START
=====================*/
.topnav{
    background-color: #333;
}
.topnav a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px;
    text-align: center;
}
.topnav a:last-child {
    float: right;
    background-color: red;
}
/*----NAVIGATION HOVER EFFECT---*/
.topnav a:hover {
    background-color: #ddd;
    color: #000;
}
.topnav a:last-child:hover {
    background-color: #008000;
}
/*==================
LEFT COLUMN PART START
=====================*/
.leftcolumn{
    float: left;
    width: 75%;
}
.fakeimg{
    background-color: #aaa;
    width: 100%;
    height: 200px;
    padding: 20px;
}
.card{
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}
/*==================
RIGHT COLUMN PART START
=====================*/
.rightcolumn{
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
   
  }
.rightcolumn .card .fakeimg{
    height: 100px;
    
  }
  /*==================
CLEARFIX 
=====================*/
.row:after {
    content: "";
    clear: both;
    display: table;
  }
  /*==================
FOOTER PART START
=====================*/
.footer {
    padding: 20px;
    text-align: center;
    background-color: #aaa;
    margin-top: 20px;
    float: left;
    width: 100%;
  }
/*==================
RESPONSIVE DESIGN PART
=====================*/
/*MEDIUM DEVICE*/
 @media screen and (max-width:800px) {
.leftcolumn, .rightcolumn{
    width: 100%;
    padding: 0;
}   
 } 
/*SMALL DEVICE*/
@media screen and (max-width:400px){
    .topnav a{
        float: none;
        width: 100%;
    }
}